header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  color: white;
  list-style: none;
  margin-right: 20px;
}
body {
  background-image: url("/Meet2/public/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section {
  background-color: white;
  margin: 3% 8% 8% 8%;
  font-size: 20px;
  line-height: 170%;
  padding: 1%;
}
.home {
  text-decoration: none;
  color: white;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 22px;
}
a {
  text-decoration: none;
}
footer {
  background-color: black;
  color: white;
  padding: 1%;
  font-size: 25px;
}
